* text=auto
* text eol=lf

*.png binary
*.jpg binary
*.gif binary
*.woff2 binary

/test export-ignore
/demo export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
